body {
  color: white;
  background: url(/img/solaire-wallpaper.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

span {
  display: none; }

#sun {
  float: left;
  width: 25%; }

#heart {
  float: left;
  width: 25%; }

#clear {
  font-size: 2em;
  float: left;
  clear: left; }
