@import url(sass-grid.css);
body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+70,ededed+100 */
  background: #ffffff;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 70%, #ededed 100%);
  /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%, #f6f6f6 70%, #ededed 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-radial-gradient(center ellipse, #ffffff 0%, #f6f6f6 70%, #ededed 100%);
  background: -o-radial-gradient(center ellipse, #ffffff 0%, #f6f6f6 70%, #ededed 100%);
  background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 70%, #ededed 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  height: viewport; }
