.wrapper,
.row {
  *zoom: 1; }
  .wrapper:before,
  .row:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sixing: border-box;
  box-sizing: border-box; }

img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 95%;
  max-width: 95%; }

.row {
  margin-top: 1px; }

.column-1 {
  width: 8.33333%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-2 {
  width: 16.66667%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-3 {
  width: 25%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-4 {
  width: 33.33333%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-5 {
  width: 41.66667%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-6 {
  width: 50%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-7 {
  width: 58.33333%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-8 {
  width: 66.66667%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-9 {
  width: 75%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-10 {
  width: 83.33333%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-11 {
  width: 91.66667%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.column-12 {
  width: 100%;
  padding-top: 1em;
  height: 3em;
  display: inline-block;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.5em; }

.spacer {
  width: 5%;
  border: none;
  padding-top: 0;
  height: .5em;
  cursor: normal; }

#left-operand {
  background-color: white;
  display: inline-block;
  text-align: right;
  overflow: scroll;
  margin-bottom: -.2em; }

.button {
  color: white; }

.number {
  background-color: red;
  color: white; }
  .number:hover {
    background-color: darkred; }

div #C {
  background-color: #904848; }
  div #C:hover {
    background-color: #663333; }

div #decimal {
  background-color: darkgray; }
  div #decimal:hover {
    background-color: gray; }

div #answer {
  background-color: green; }
  div #answer:hover {
    background-color: darkgreen; }

div .operators {
  background-color: blue; }
  div .operators:hover {
    background-color: darkblue; }

@media only screen and (min-width: 10em) {
  .column-* {
    padding-top: .5em;
    height: 4em; }
  .column-1 {
    width: 19%; }
  .column-3 {
    width: 58%; }
  .spacer {
    width: 12%; }
  #left-operand {
    margin-bottom: -1em; } }

@media only screen and (min-width: 500px) {
  .column-* {
    height: 4em;
    padding-top: .5em; }
  .column-1 {
    font-size: 1.5em; }
  .column-3 {
    height: 3em;
    font-size: 1.5em; }
  #left-operand {
    margin-bottom: -1em; } }

@media only screen and (min-width: 750px) {
  .column-* {
    height: 4em;
    font-size: 1.7em; } }
