body {
	margin: 0px; 
	padding: 0px;
	font-family: 'Trebuchet MS',verdana;
}

/*TABLE*/

table {
	height: 100%;

}
.td1 {
 	padding: 10px;
 	margin: 0;
 	vertical-align: top;
 	background-color: #999f8e;
 	width: 20%;
 	border-width: : 0;
}

.td2 {
	width: 80%;
	vertical-align: top;
	background-color: #d2d8c7;
}