$periwinkle: #CCFFFF;


body {
	background-color: $periwinkle;
}
h1{
	color: magenta;
	background-color: papayawhip;
}
img {
	width: 50%;
}
.red {
	color: red;
}
small {
	color: blue;
}
#map {
	border:1px solid black;
	width: 500px;
	height: 500px;
}