button {
  width: 100%; }

html, body {
  margin: 0px;
  padding: 0;
  width: 1200px;
  height: 150%;
  overflow: hidden; }

#sidebar1 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  margin-top: 10%;
  clear: left;
  background: #000088;
  text-align: right; }

#sidebar2 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  background: #008800;
  float: right;
  margin-right: -775px; }

#sidebar3 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  background: #880000;
  float: right;
  margin-top: 250px;
  margin-right: 1025px; }

#sidebar4 {
  background: #808080;
  width: 20.8333%;
  height: 100%;
  border-radius: 600px;
  position: relative;
  bottom: 400px;
  left: -110px;
  z-index: -3; }

#profile {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 200px;
  right: 5px;
  z-index: 100;
  color: #EEEEFF; }

.hidden-profile {
  margin: 15px;
  height: 770px;
  width: 770px;
  opacity: 0; }
