$whitish: #EEEEFF;
$breakpoint-small: 30em;

@mixin sidebars {
    margin-left: -600px;
    width: 70.8333%;
    height: 377.778%;
    border-radius: 600px;
    box-shadow: 3px -3px 3px rgba(0,0,0,0.5);
}
@mixin cursor-selects{
    cursor: pointer;
    user-select: none;
}


button {
    width: 100%;
}



// @media only screen and (min-width: 700px){
html, body {
    margin: 0px;
    padding: 0;
    width: 1200px;
    height: 150%;
    overflow-x: hidden;
}

#sidebar1 {
    @include sidebars;
    margin-top: 10%;
    clear: left;
    background: #000088;
    text-align: right;
}
#sidebar2 {
    @include sidebars;
    background: #008800;
    float: right;
    margin-right: -700px;
}
#sidebar3{
    @include sidebars;
    background: #880000;
    float: left;
    // margin-top: 250px;
    margin-left: -700px;
}
#sidebar4{
    background: #808080;
    width: 20.8333%;
    height: 100%;
    border-radius: 600px;
    position: relative;
    bottom: 400px;
    left: -110px;
    z-index: -3;
}

#profile{
    @include cursor-selects;
    position:absolute;
    top: 200px;
    right: 5px;
    z-index: 100;
    color: $whitish;

}

.hidden-profile {
    margin: 15px;
    height: 770px;
    width: 770px;
    opacity: 0;
}
