@import url('https://fonts.googleapis.com/css?family=Cabin');

$whitish: #EEEEFF;
$breakpoint-small: 30em;
$whitish: #F0F0F0;
$breakpoint-sm: 30em;
$gradient-start: #335;
$gradient-mid: #567;
$gradient-stop: #AAC;

@mixin dropdown-fonts{
    font-size: 4em;
    font-family: 'Cabin', sans-serif;
    color: $whitish;
    // font-weight: bold;

}

@mixin par-fonts {
    font-family: helvetica;
}

@mixin sidebars {
    margin-left: -600px;
    width: 70.8333%;
    height: 377.778%;
    border-radius: 600px;
    box-shadow: 3px -3px 3px rgba(0,0,0,0.5);
}
@mixin cursor-selects{
    cursor: pointer;
    user-select: none;
}

@mixin clickable {
    cursor: pointer;
    user-select: none;
}

@mixin display-off {
    display: none;
}





// @media only screen and (min-width: 700px){
html, body {
    margin: 0px;
    padding: 0;
    width: 1200px;
    height: 150%;
    overflow-x: hidden;
}
// html, body{
//  padding: 0;
//  margin: 0;
// }
button {
    width: 100%;
}

// This is for the mobile default state


ul {
    margin-top: -3px;
    margin-left: -40px;
    width: 100%;
    list-style: none;
}

.par-cont{
    display: flex;
    justify-content: center;
    font-size: 2em;

    @include par-fonts;
}

#about-par{
    width: 80%;
}

#hidden1 {
    padding-top: 15px;
    @include dropdown-fonts;

}
#hidden2{
    @include dropdown-fonts;
}
#hidden3{
    @include dropdown-fonts;
}
#title {
    display: inline-block;
    margin-left: 50px;
    font-size: 4em;
    color: $whitish;
    font-family: helvetica;
    font-family: 'Cabin', sans-serif;
}
#mobile-navbar {
    width: 100%;
    margin: 0;
    background: linear-gradient(to bottom right, $gradient-start, $gradient-mid 55%, $gradient-stop);
    height: 150px;
    position: relative;
    z-index:100;
}

#mobile-hidden {
    @include display-off;
}

#mobile-hidden2 {
    @include display-off;
}

.dropdown{
    width: 100%;
    height: 100px;
    text-align: center;
    background: #567;
}

#dropdown-button {
    float: right;
    border: 1px solid black;
    border-radius: 10px;
    margin: 6px;
    height: 80%;
    width: 100px;
    display: inline-block;

    @include clickable;
}

#mobile-hidden {
    list-style: none;
}

.carat {
    border-style: solid;
    border-width: 20px 20px 0px 20px;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-top-color: $whitish;
    border-right-color: transparent;
    width: 0px;
    height: 0px;
    display: block;
    margin-top: 20px;
    margin-left: 14px;
}
//======================
//  End Nav, begin Content
//=======================

//The moving divs

//blue
#sidebar1 {
    @include sidebars;
    margin-top: 10%;
    clear: left;
    background: #000088;
    text-align: right;
}

//green
#sidebar2 {
    @include sidebars;
    background: #008800;
    float: right;
    margin-right: -800px;
}

//red
#sidebar3{
    @include sidebars;
    background: #880000;
    float: left;
    // margin-top: 250px;
    margin-left: -800px;
}

//gray
#sidebar4{
    background: #808080;
    width: 20.8333%;
    height: 100%;
    border-radius: 600px;
    position: relative;
    bottom: 400px;
    left: -110px;
    z-index: -3;
}
//Profile Pic
#profile{
    @include cursor-selects;
    position:absolute;
    top: 200px;
    right: 5px;
    z-index: 100;
    color: $whitish;

}

.hidden-profile {
    margin: 15px;
    height: 770px;
    width: 770px;
    opacity: 0;
}
