@import url("https://fonts.googleapis.com/css?family=Cabin|Raleway");
html, body {
  margin: 0px;
  padding: 0;
  width: 1200px;
  height: 150%;
  overflow-x: hidden; }

button {
  width: 100%; }

ul {
  margin-top: -3px;
  margin-left: -40px;
  width: 100%;
  list-style: none; }

.par-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif; }

#about-par {
  width: 80%; }

#hidden1 {
  padding-top: 15px;
  font-size: 4em;
  font-family: 'Cabin', sans-serif;
  color: #F0F0F0; }

#hidden2 {
  font-size: 4em;
  font-family: 'Cabin', sans-serif;
  color: #F0F0F0; }

#hidden3 {
  font-size: 4em;
  font-family: 'Cabin', sans-serif;
  color: #F0F0F0; }

#title {
  display: inline-block;
  margin-left: 50px;
  font-size: 4em;
  color: #F0F0F0;
  font-family: helvetica;
  font-family: 'Cabin', sans-serif; }

#mobile-navbar {
  width: 100%;
  margin: 0;
  background: -webkit-gradient(linear, left top, right bottom, from(#335), color-stop(55%, #567), to(#AAC));
  background: -webkit-linear-gradient(top left, #335, #567 55%, #AAC);
  background: -o-linear-gradient(top left, #335, #567 55%, #AAC);
  background: linear-gradient(to bottom right, #335, #567 55%, #AAC);
  height: 150px;
  position: relative;
  z-index: 100; }

#mobile-hidden {
  display: none; }

#mobile-hidden2 {
  display: none; }

.dropdown {
  width: 100%;
  height: 100px;
  text-align: center;
  background: #567; }

#dropdown-button {
  float: right;
  border: 1px solid black;
  border-radius: 10px;
  margin: 6px;
  height: 80%;
  width: 100px;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

#mobile-hidden {
  list-style: none; }

.carat {
  border-style: solid;
  border-width: 20px 20px 0px 20px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: #F0F0F0;
  border-right-color: transparent;
  width: 0px;
  height: 0px;
  display: block;
  margin-top: 20px;
  margin-left: 14px; }

#sidebar1 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  margin-top: 10%;
  clear: left;
  background: #000088;
  text-align: right; }

#sidebar2 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  background: #008800;
  float: right;
  margin-right: -800px; }

#sidebar3 {
  margin-left: -600px;
  width: 70.8333%;
  height: 377.778%;
  border-radius: 600px;
  -webkit-box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px -3px 3px rgba(0, 0, 0, 0.5);
  background: #880000;
  float: left;
  margin-left: -800px; }

#sidebar4 {
  background: #808080;
  width: 20.8333%;
  height: 100%;
  border-radius: 600px;
  position: relative;
  bottom: 400px;
  left: -110px;
  z-index: -3; }

#profile {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: absolute;
  top: 200px;
  right: 5px;
  z-index: 100;
  color: #F0F0F0; }

.hidden-profile {
  margin: 15px;
  height: 770px;
  width: 770px;
  opacity: 0; }
